.card--main-feature.container-fluid.flex-center {
	width: 100%;
	padding: 0;
	margin: 2rem auto;
	max-width: 1400px;
	.main-feature__details {
		background: $brand-brown;
		padding: 2rem 1rem;
		&.bottom-feature {
			background: $brand-grey;
		}
		.card__description {
			font-weight: 400;
			margin-bottom: 2rem;
			text-align: center;
		}
	}
	&.secondary-feature {
		background: $brand-blue;
	}
	.secondary-feature__details {
		background: $brand-blue;
		padding: 2rem 1rem;
		.card__heading {
			color: #fff;
		}
		.card__description {
			color: #fff;
			font-weight: 400;
			margin-bottom: 2rem;
			text-align: center;
		}
	}
	.dual-card {
		margin-bottom: 2rem;
		background: $brand-grey;
		.img-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			max-height: 410px;
			img {
				height: 100%;
				width: 80%;
				margin: 1rem auto;
				object-fit: scale-down;
			}
		}
		.main-feature__details {
			background: $brand-grey;
		}
	}
	.img-container {
		width: 100%;
		height: 500px;
		&.bottom-feature {
			background: $brand-grey;
			padding: 0 1rem;
			img {
				width: 100%;
				object-fit: scale-down;
			}
		}
	}
}
@media screen and (min-width: 1000px) {
	.dual-card {
		height: 100%;
		.card__heading {
			font-size: 2rem;
		}
		.card__description {
			font-size: 1.3rem;
			font-weight: 500;
		}
	}
	.card__heading {
		font-size: 2rem;
		margin-bottom: 1.5rem;
	}
	.card__description {
		padding: 0 1.5rem;
	}
}

//Dual Card

@media screen and (min-width: 750px) {
	.card--main-feature.flex-center.container-fluid.flex-center.grid-1x2.grid--gap {
		column-gap: 2rem;
		.dual-card {
			max-height: 580px;
			.img-container {
				height: auto;
			}
		}
	}
}
