.main-banner {
	background: $brand-blue;
	color: #fff;
	margin: 1.5rem auto;
	max-width: 1400px;
	background-size: cover;
	padding: 2rem 1rem;
	.main-banner__header {
		color: #fff;
		margin-bottom: 1rem;
	}
	.main-banner__subheading {
		color: #fff;
		margin-bottom: 0;
	}
}
