.card--main-feature.container-fluid.flex-center {
	width: 100%;
	padding: 0;
	margin: 2rem auto;
	max-width: 1400px;
	&.secondary-feature {
		background: #8f1fff;
	}
	.dual-card {
		margin-bottom: 2rem;
		background: #af70e7;
		.img-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			max-height: 410px;
			img {
				height: 100%;
				width: 80%;
				margin: 1rem auto;
				object-fit: scale-down;
			}
		}
		.main-feature__details {
			background: #af70e7;
		}
	}
	.img-container {
		width: 100%;
		height: 500px;
	}
	.main-feature__details {
		background: #ff8f1f;
		padding: 2rem 1rem;
		.card__description {
			font-weight: 400;
			margin-bottom: 2rem;
			text-align: center;
		}
	}
	.secondary-feature__details {
		background: #8f1fff;
		padding: 2rem 1rem;
		.card__description {
			font-weight: 400;
			margin-bottom: 2rem;
			text-align: center;
		}
	}
}
@media screen and (min-width: 1000px) {
	.card__heading {
		font-size: 3rem;
		margin-bottom: 2rem;
	}
	.card__description {
		padding: 0 2rem;
	}
}

//Dual Card

@media screen and (min-width: 750px) {
	.card--main-feature.flex-center.container-fluid.flex-center.grid-1x2.grid--gap {
		column-gap: 2rem;
		.dual-card {
			max-height: 580px;
			.img-container {
				height: auto;
			}
		}
	}
}
