.main-banner {
	background: #441fff;
	color: #fff;
	margin: 1.5rem 0;
	// background: url("../icons/abstract-bg.svg");
	background-size: cover;
	.main-banner__header {
		color: #fff;
		margin-bottom: 1rem;
	}
}
