$color-black: #313639;
$color-primary: dodgerblue;
$brand-blue: #294442;
$brand-brown: #c69250;
$brand-green: #89a525;
$brand-grey: #789494;

//Universal Settings
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	*::after,
	*::before {
		box-sizing: border-box;
	}
	color: #0e1318;
}
//Typography
h1 {
	margin: 0 0 1.5rem;
}
h2 {
	margin: 0 0 1rem;
}
a {
	text-decoration: none;
	color: dodgerblue;
	transition: transform 0.15s, font-weight 0.15s;
	cursor: pointer;
}
button {
	cursor: pointer;
}

.btn {
	border-radius: 20px;
	transition: background 0.15s;
	&:hover {
		background: lighten($color: $color-black, $amount: 0.5);
	}
	&.btn-light {
		border: 1px $color-black solid;
		transition: background 0.15s;
		&:hover {
			background: rgb(241, 241, 241);
		}
	}
	&.btn-clear {
		border: 1.5px $color-black solid;
		font-weight: 500;
		transition: background 0.15s;
		&:hover {
			background: rgba(241, 241, 241, 0.5);
		}
	}
	&.btn-white {
		border: 1.5px #fff solid;
		color: #fff;
		font-weight: 500;
		transition: background 0.15s;
		&:hover {
			background: rgba(255, 255, 255, 0.16);
		}
	}
}

.container {
	width: 100%;
	// padding: 1rem;
	margin: 0 auto;
}

.flex-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	&.column-reverse {
		flex-direction: column-reverse;
	}
}

.img-container {
	width: 100%;
	height: 100%;
	img {
		object-fit: cover;
		object-position: center;
		width: 100%;
		height: 100%;
	}
}

@media screen and (min-width: 750px) {
	.grid-1x2 {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: stretch;
	}
}

//Collapsible
.collapsible {
	transition: all 0.3s ease-in-out;
	margin-bottom: 1rem;
	.collapsible__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.collapsible__heading {
			font-size: 1.2rem;
			margin-top: 0;
		}
		.fa-chevron-down {
			transform: rotate(-90deg);
			transition: transform 0.3s;
			margin: 1rem;
			transition: margin 0.2s ease-in-out, padding 0.2s ease-in-out,
				background 0.2s ease-in-out, transform 0.2s ease-in-out;
			border-radius: 50%;
			&:hover {
				padding: 1rem;
				margin: 0;
				background: lightgrey;
			}
		}
	}
	.collapsible__content {
		max-height: 0;
		overflow: hidden;
		opacity: 0;
		transition: max-height 0.5s, opacity 0.3s;
		color: black;
		display: block;
	}
	&.collapsible--expanded .fa-chevron-down {
		transform: rotate(0);
	}

	&.collapsible--expanded .collapsible__content {
		max-height: 100vh;
		opacity: 1;
	}
}
